<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>

</head>

<body>

  <h1>Product Detail</h1>
    <h4>
      <a href="/product/<%=product.id %>">
        <%= product.productTitle %>
      </a>
    </h4>
    <p>
      <%= product.productDescription %>
    </p>
    <p>
      <%= product.productPrice %>
    </p>


</body>

</html>